.container {
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  padding: 2em 2em 4em;
  overflow: scroll;
  position: relative;
}

.title {
  margin-bottom: 5rem;
  letter-spacing: 2px;
}

.indicate {
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scroll {
  position: fixed;
  right: 40px;
  bottom: 20px;
}

@media screen and (max-width: 839px){
  .main {
    padding: 2em 0em 8em;
  }

  .indicate {
    width: 100%;
    flex-direction: column;
  }

  .scroll {
    display: none;
  }

  .title {
    padding: 0 1rem;
  }
}