.container {
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  padding: 2em 2em 4em;
  overflow: scroll;
  position: relative;
}

.title {
  margin-bottom: 5rem;
}

.indicate {
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scroll {
  position: fixed;
  right: 40px;
  bottom: 20px;
}